version: 2
updates:
  - package-ecosystem: gomod
    directory: /
    schedule:
      interval: weekly
      day: friday
    labels:
      - dependencies
    groups:
      all-go:
        patterns:
          - "*"

  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
      day: friday
    labels:
      - dependencies
    groups:
      all-actions:
        patterns:
          - "*"
