name: Renovate

on:
  schedule:
    - cron: "0 17 * * 5"  # Friday at 5pm UTC
  workflow_dispatch:       # allow manual trigger

jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: renovatebot/github-action@v42.1.1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          configurationFile: renovate.json
