name: Secret Scanning

on:
  workflow_call:

jobs:
  trufflehog:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - uses: trufflesecurity/trufflehog@v3.93.6
        with:
          extra_args: --only-verified
